.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
    background-color: #f2f2f2;
}

h1 {
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, #3CB371, #228B22, #008000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
    animation: color-change 3s infinite;
    margin-top: 50px;
}

.dropzone p {
    margin: 0;
    font-size: 18px;
    color: #aaa;
}

.dropzone img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

input[type="file"] {
    display: none;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
}

.submit-btn:hover {
    background-color: #388e3c;
}

.dropzone {
    height: 300px;
    border: 2px dashed #ccc;
    border-radius: 4px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-image-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    color: #4caf50;
    border: 2px solid #4caf50;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.add-image-btn:hover {
    background-color: #4caf50;
    color: #fff;
}

.button-container {
    margin-bottom: 20px;
    text-align: center;
}

.button-submit-container {

    text-align: center;
    margin-bottom: 10px;
}

.predictions {
    background-color: #3ba43f;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 3%;
    border-radius: 1em;
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.predictions table {
    width: 100%;
    border-collapse: collapse;
}

.predictions th,
.predictions td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid white;
}

.predictions th {
    font-weight: bold;
    font-size: 1.2rem;
}

.predictions td {
    font-size: 1.1rem;
    color: #d9ffd9;
}

.loading-animation-container {
    top: 50%;
    right: 25%;
}

.understood-btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.understood-btn:hover {
    background-color: #388e3c;
}

.typewriter {
    text-align: justify;
    color: #6d6c6c;
    font-size: 110%;
}

.understood-container {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    width: 550px;

}

.container-footer {
     margin-top: 10px;
  position: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #bbb;

  text-align: center;
  padding: 20px;
}

body{
      color: #bbb;
}
